<!DOCTYPE html>
<html lang="en">

	<include file="Application/Admin/View/Public/tpl/header.html" />
	
	<body>

				<include file="Application/Admin/View/Public/tpl/navbar.html" />
				<include file="Application/Admin/View/Public/tpl/sidebar.html" />
				<include file="Application/Admin/View/Public/tpl/pageheader.html" />
					
					
					<div class="row">	
					<div class="col-md-3">
					</div>	
						<div class="col-md-6">
							<div class="panel">
								<div class="panel-heading bk-bg-primary">
									<h6><i class="fa fa-indent red"></i>编辑规则</h6>							
								</div>
								<div class="panel-body">
									<form action="{:U('Admin/Rule/editRule')}" method="post" enctype="multipart/form-data" class="form-horizontal ">
									
										
										<div class="form-group">
											<label class="col-md-3 control-label" for="rule_name">规则名</label>
											<div class="col-md-6">
												<input type="text" id="rule_name" name="rule_name" class="form-control" placeholder="规则名" disabled value="{$rule.rule_name}">
												<span class="help-block">规则名不可更改</span>
											</div>
										</div>
										

										<div class="form-group">
											<label class="col-md-3 control-label" for="rule_desc">规则描述</label>
											<div class="col-md-6">
												<textarea id="rule_desc" name="rule_desc"  class="form-control" placeholder="规则描述">{$rule.rule_desc}</textarea>
												<span class="help-block">请输入规则描述</span>
											</div>
										</div>

										<div class="form-group">
											<div class="col-md-4">
											</div>
											<div class="col-md-4">

												<input type="hidden" id="rule_id" name="rule_id" class="form-control" value='{$rule.rule_id}'>
												<input type="hidden" id="rule_name" name="rule_name" class="form-control" value='{$rule.rule_name}'>
												<!-- <input type="hidden" id="level" name="level" class="form-control" value='{$level}'> -->
											
												<button type="submit" class="btn btn-success">保存规则</button>
												</div>
											<div class="col-md-4">
											</div>
										</div>
										
										<br>
									</form>
								</div>	
							</div>	
						</div>	
						<div class="col-md-3">
					</div>				
					</div>
				<!-- End Main Page -->	
		
		<include file="Application/Admin/View/Public/tpl/usage.html" />
		
		
		<!-- Modal Dialog -->
		<!-- <div class="modal fade" id="myModal">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title bk-fg-primary">Modal title</h4>
					</div>
					<div class="modal-body">
						<p class="bk-fg-danger">Here settings can be configured...</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary">Save changes</button>
					</div>
				</div>
			</div>
		</div><!-- End Modal Dialog --> -->

		<!-- Finish Button -->
		<!-- <div class="modal fade" id="finish-button">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title bk-fg-primary text-center">You successfully submit this form.</h4>
					</div>
				</div>
			</div>
		</div><!-- End Finish Button -->	 -->
		
		<div class="clearfix"></div>		
		
		
		<include file="Application/Admin/View/Public/tpl/js.html" />

		<script type="text/javascript">
			// $(document).ready(function(){

			// 	$('.add-role').click(function(){
			// 		var obj = $(this).parents('#role_div').clone();
			// 		obj.find('.add-role').remove();
			// 		obj.find('#role_divm3').append("<button type='button' class='btn-close'><i class='fa fa-times'></i></button>");
			// 		$('#status').before(obj);
			// 	});

			// 	$('.btn-close').live('click',function(){
					
			// 		$(this).parents('#role_div').remove();
			// 	});

			// });

		</script>
		
	</body>
	
</html>