<!DOCTYPE html>
<html lang="en">

	<include file="Application/Admin/View/Public/tpl/header.html" />
	
	<body>

				<include file="Application/Admin/View/Public/tpl/navbar.html" />
				<include file="Application/Admin/View/Public/tpl/sidebar.html" />
				<include file="Application/Admin/View/Public/tpl/pageheader.html" />
					
					
					<div class="row">		
						<div class="col-lg-12">
							<div class="panel">
								<div class="panel-heading bk-bg-primary">
									<h6><i class="fa fa-table red"></i><span class="break"></span>规则列表</h6>
									<!-- <div class="panel-actions">
										<a href="table.html#" class="btn-setting"><i class="fa fa-rotate-right"></i></a>
										<a href="table.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
										<a href="table.html#" class="btn-close"><i class="fa fa-times"></i></a>
									</div> -->
								</div>
								<div class="panel-body">
									<a href="{:U('Admin/Rule/addRule')}" class="bk-margin-5 btn btn-success">添加规则</a>
									<span id='delRules' class="bk-margin-5 btn btn-danger">删除所选</span>
								 <form id="search_form" method="get" action="{:U('Admin/Rule/lists')}" class="pull-right mail-search">
								 		<div class="input-group">
													<input type="text" id="search_input" name="keyword" class="form-control" placeholder="关键字" value="{$keyword}"/>
													<span class="input-group-btn">
													<button type="submit" class="btn btn-success">Search</button>
													</span>
										</div>

								 </form>
									<div class="table-responsive">	
										<table class="table table-striped table-bordered bootstrap-datatable datatable">
											<thead>
												<tr>
													<th width="3%">
														<div class="checkbox-custom checkbox-default" id='divsall'>
															<input type="checkbox"  id="check_all" onclick="checkAll('check_all', 'divsall', 'checked[]','divs')" />
															<label for="check_all"></label>
														</div>
														
													</th>
													<th>规则ID</th>
													<th>规则名</th>
													<th>规则描述</th>
													<th>创建时间</th>
													<th>操作</th>
												</tr>
											</thead>  
											<form id="delRulesForm" action="{:U('Admin/Rule/delRules')}" method="post" accept-charset="utf-8"> 
											<tbody>
												<volist name='rulelist' id='data' key='j'>								
												<tr>
												<if condition="$data.rule_name neq '无规则'">
													<td width="3%">
														<div class="checkbox-custom checkbox-default" name='divs' id='ck{$j}'>
															<input type="checkbox" id='checkbox{$j}' name="checked[]" onclick="checkOne('checkbox{$j}','ck{$j}')" value='{$data.rule_id}'/>
															<label for="checkbox{$j}"></label>
														</div>
													</td>
													<else/>
													<td></td>
												</if>
													<td>{$data.rule_id}</td>
													<td>{$data.rule_name}</td>
													<td>{$data.rule_desc}</td>
													<td>{$data.create_time}</td>
													
													<td>
														
								
														<a title="编辑规则" data-rel="tooltip" class="btn btn-info" href="{:U('Admin/Rule/editRule',array('rule_id' => $data['rule_id']))}">
															<i class="fa fa-edit "></i>                                            
														</a>
														<if condition="$data.rule_name neq '无规则'">
															<a title="删除规则" data-rel="tooltip" class="btn btn-danger" href="{:U('Admin/Rule/delRule',array('rule_id' => $data['rule_id']))}" onclick="if(confirm('删除部署规则将重置相关系统所关联的规则，确认删除？') == false) return false;">
																<i class="fa fa-trash-o "></i> 

															</a>
														</if>
													</td>
												</tr>
												</volist>
											</tbody>
										</form>
										</table>
									</div>

									<div class="btn-toolbar" role="toolbar">
										{$page}
									</div>
								</div>
								
							</div>
						</div>					
					</div>
				<!-- End Main Page -->	
		
		<include file="Application/Admin/View/Public/tpl/usage.html" />
		
		
		<!-- Modal Dialog -->
		<!-- <div class="modal fade" id="myModal">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title bk-fg-primary">Modal title</h4>
					</div>
					<div class="modal-body">
						<p class="bk-fg-danger">Here settings can be configured...</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary">Save changes</button>
					</div>
				</div>
			</div>
		</div><!-- End Modal Dialog --> -->

		<!-- Finish Button -->
		<!-- <div class="modal fade" id="finish-button">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title bk-fg-primary text-center">You successfully submit this form.</h4>
					</div>
				</div>
			</div>
		</div><!-- End Finish Button -->	 -->
		
		<div class="clearfix"></div>		
		
		
		<include file="Application/Admin/View/Public/tpl/js.html" />

		<script type="text/javascript">
			$(document).ready(function(){

				$("#delRules").click(function(){
					if(confirm('删除部署规则将重置相关系统所关联的规则，确认删除？')) {
						document.getElementById("delRulesForm").submit();
					}
				});

			});

		</script>
		
	</body>
	
</html>