<!DOCTYPE html>
<html lang="en">

	<include file="Application/Admin/View/Public/tpl/header.html" />
	
	<body>

				<include file="Application/Admin/View/Public/tpl/navbar.html" />
				<include file="Application/Admin/View/Public/tpl/sidebar.html" />
				<include file="Application/Admin/View/Public/tpl/pageheader.html" />
					
					
					<div class="row">	
						<!-- <div class="col-md-3">
						</div> -->	
						<div class="col-md-12">
							<div class="panel">
								<div class="panel-heading bk-bg-primary">
									<h6><i class="fa fa-table red"></i><span class="break"></span>节点列表</h6>
									<!-- <div class="panel-actions">
										<a href="table.html#" class="btn-setting"><i class="fa fa-rotate-right"></i></a>
										<a href="table.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
										<a href="table.html#" class="btn-close"><i class="fa fa-times"></i></a>
									</div> -->
								</div>


								<div class="panel-body clearfix">
										<div class="col-sm-12 pull-left">
										<a href="{:U('Admin/Node/addNode')}" class="bk-margin-5 btn btn-success">添加应用</a>	
									</div>

									<volist name='node' id='app'>
									<div class='col-md-12'>
									
										
											
												
												<label><strong> {$app.name}({$app.title})</strong></label>
												<a href="{:U('Admin/Node/addNode',array('pid' => $app['id'], level => 2))}" class="bk-margin-5 btn-sm btn-success">添加控制器</a><a href="{:U('Admin/Node/editNode',array('id' =>$app['id']))}" class="bk-margin-5 btn-sm btn-warning">修改</a><a href="{:U('Admin/Node/delNode',array('id' => $app['id']))}" class="bk-margin-5 btn-sm btn-danger" onclick="if(confirm('确认删除？') == false) return false;">删除</a>


											
											<volist name='app.child' id='controler' key='k'>
												<div class="panel panel-primary">
													<div class="panel-heading">
														<div class="row">
															<div class="col-xs-12 text-left bk-vcenter">
																
																	
																	<label><h6 class="bk-margin-off"> 控制器： {$controler.name}({$controler.title})</h6></label>
																	<a href="{:U('Admin/Node/addNode',array('pid' => $controler['id'], level => 3))}" class="bk-margin-5 btn-sm btn-success">添加方法</a><a href="{:U('Admin/Node/editNode',array('id' =>$controler['id']))}" class="bk-margin-5 btn-sm btn-warning">修改</a><a href="{:U('Admin/Node/delNode',array('id' => $controler['id']))}" class="bk-margin-5 btn-sm btn-danger" onclick="if(confirm('确认删除？') == false) return false;">删除</a>
																
															</div>
														</div>
													</div>
													
														<div class="panel-body">
														


													<div class="table-responsive">	
														<table class="table table-striped table-bordered bootstrap-datatable datatable">
															<thead>
																<tr>
																	<th>方法名称</th>
																	<th>方法描述</th>
																	<th>开启状态</th>
																	<th>操作</th>
																</tr>
															</thead>
															
															    
															<tbody>
																<volist name='controler.child' id='method' key='j'>								
																<tr>
																	
																	<td>{$method.name}</td>
																	<td>{$method.title}</td>
																	
																	<if condition='$method["status"] eq 1' >
																	<td>开启</td>
																	<else /> <td>关闭</td>
																	</if>
																	<td>
																		
																		<a title='修改' data-rel="tooltip" class="btn btn-info" href="{:U('Admin/Node/editNode',array('id' =>$method['id']))}">
																			<i class="fa fa-edit "></i>                                            
																		</a>
																		<a title='删除' data-rel="tooltip" class="btn btn-danger" href="{:U('Admin/Node/delNode',array('id' => $method['id']))}" onclick="if(confirm('确认删除？') == false) return false;">
																			<i class="fa fa-trash-o "></i> 

																		</a>
																	</td>
																</tr>
																</volist>
															</tbody>
														
														</table>
													</div>

															
														</div> 
													
												</div>	
											</volist>
											<hr />
												
									</div>

									</volist>
									
									<!-- <div class="dd pull-left" id="nestable3">
										<ol class="dd-list">

											<volist name='node' id='app'>
												<li class="dd-item dd3-item" data-id="app{$i}">
													<div class="dd-handle dd3-handle"><i class="fa fa-bars"></i></div><div class="dd3-content">应用模块：{$app.name}({$app.title})<a href="{:U('Admin/Node/addNode',array('pid' => $app['id'], level => 2))}" class="bk-margin-5 btn-sm btn-success">添加控制器</a><a href="{:U('Admin/Node/editNode',array('id' =>$app['id']))}" class="bk-margin-5 btn-sm btn-info">修改</a><a href="{:U('Admin/Node/delNode',array('id' => $app['id']))}" class="bk-margin-5 btn-sm btn-danger">删除</a></div>
													<if condition='isset($app["child"])'>
														<ol class="dd-list">
															<volist name='app.child' id='controler' key='k'>
																
																	<li class="dd-item dd3-item" data-id="controler{$k}">
																		<div class="dd-handle dd3-handle"><i class="fa fa-bars"></i></div><div class="dd3-content">控制器：{$controler.name}({$controler.title})<a href="{:U('Admin/Node/addNode',array('pid' => $controler['id'], level => 3))}" class="bk-margin-5 btn-sm btn-success">添加方法</a><a href="{:U('Admin/Node/editNode',array('id' =>$controler['id']))}" class="bk-margin-5 btn-sm btn-info">修改</a><a href="{:U('Admin/Node/delNode',array('id' => $controler['id']))}" class="bk-margin-5 btn-sm btn-danger">删除</a></div>
																		<if condition='isset($app["child"])'>
																			<ol class="dd-list">
																				<volist name='controler.child' id='method' key='j'>
																					
																						<li class="dd-item dd3-item" data-id="controler{$j}">
																							<div class="dd-handle dd3-handle"><i class="fa fa-bars"></i></div><div class="dd3-content">动作方法：{$method.name}({$method.title})<a href="{:U('Admin/Node/editNode',array('id' =>$method['id']))}" class="bk-margin-5 btn-sm btn-info">修改</a><a href="{:U('Admin/Node/delNode',array('id' => $method['id']))}" class="bk-margin-5 btn-sm btn-danger">删除</a></div>
																						</li>
																					
																				</volist>
																			</ol>
																		</if>
																	</li>
																
															</volist>
														</ol>
													</if>
												</li>
											</volist>
											
										
											</ol>
										</div>			 -->
									</div>						
								</div>
							</div>
						<!-- <div class="col-md-3">
						</div>	 -->	
					</div>					
				

				<!-- End Main Page -->	
		
		<include file="Application/Admin/View/Public/tpl/usage.html" />
		
		
		<!-- Modal Dialog -->
		<!-- <div class="modal fade" id="myModal">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title bk-fg-primary">Modal title</h4>
					</div>
					<div class="modal-body">
						<p class="bk-fg-danger">Here settings can be configured...</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary">Save changes</button>
					</div>
				</div>
			</div>
		</div><!-- End Modal Dialog --> -->

		<!-- Finish Button -->
		<!-- <div class="modal fade" id="finish-button">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title bk-fg-primary text-center">You successfully submit this form.</h4>
					</div>
				</div>
			</div>
		</div><!-- End Finish Button -->	 -->
		
		<div class="clearfix"></div>		
		
		
		<include file="Application/Admin/View/Public/tpl/js.html" />
		
		
	</body>
	
</html>