<!DOCTYPE html>
<html lang="en">

	<include file="Application/Admin/View/Public/tpl/header.html" />
	
	<body>

				<include file="Application/Admin/View/Public/tpl/navbar.html" />
				<include file="Application/Admin/View/Public/tpl/sidebar.html" />
				<include file="Application/Admin/View/Public/tpl/pageheader.html" />
					
					
					<div class="row">		
						<div class="col-lg-12">
							<div class="panel">
								<div class="panel-heading bk-bg-primary">
									<h6><i class="fa fa-table red"></i><span class="break"></span>环境列表</h6>
									<!-- <div class="panel-actions">
										<a href="table.html#" class="btn-setting"><i class="fa fa-rotate-right"></i></a>
										<a href="table.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
										<a href="table.html#" class="btn-close"><i class="fa fa-times"></i></a>
									</div> -->
								</div>
								<div class="panel-body">
									<a href="{:U('Admin/Env/addEnv')}" class="bk-margin-5 btn btn-success">添加环境</a>
									<span id='delEnvs' class="bk-margin-5 btn btn-danger">删除所选</span>
									<label class="control-label" for="system">合计：{$count} &nbsp;每页：</label>
										
									<select id="page" name="page" style="width:35px" size="1" onchange="changePage(this,'{$keyword}')">
										<option value="10" {$userPage == '10' ? 'selected' : "" }>10</option>
										<option value="20" {$userPage == '20' ? 'selected' : "" }>20</option>
										<option value="50" {$userPage == '50' ? 'selected' : "" }>50</option>
										<option value="100" {$userPage == '100' ? 'selected' : "" }>100</option>
									</select>									
								 <form id="search_form" method="post" action="{:U('Admin/Env/lists')}" class="pull-right mail-search">
								 		<div class="input-group">
													<input type="text" id="search_input" name="keyword" class="form-control" placeholder="关键字" value="{$keyword}"/>
													<span class="input-group-btn">
													<button type="submit" class="btn btn-success">Search</button>
													</span>
										</div>

								 </form>
									<div class="table-responsive">	
										<table class="table table-striped table-bordered bootstrap-datatable datatable">
											<thead>
												<tr>
													<th width="3%">
														<div class="checkbox-custom checkbox-default" id='divsall'>
															<input type="checkbox"  id="check_all" onclick="checkAll('check_all', 'divsall', 'checked[]','divs')" />
															<label for="check_all"></label>
														</div>
														
													</th>
													<th>环境ID</th>
													<th>环境名</th>
													<th>环境描述</th>
													<th>创建时间</th>
													<th>操作</th>
												</tr>
											</thead>  
											<form id="delEnvsForm" action="{:U('Admin/Env/delEnvs')}" method="post" accept-charset="utf-8"> 
											<tbody>
												<volist name='envlist' id='data' key='j'>								
												<tr>
													<td width="3%">
														<div class="checkbox-custom checkbox-default" name='divs' id='ck{$j}'>
															<input type="checkbox" id='checkbox{$j}' name="checked[]" onclick="checkOne('checkbox{$j}','ck{$j}')" value='{$data.env_id}'/>
															<label for="checkbox{$j}"></label>
														</div>
													</td>
													<td>{$data.env_id}</td>
													<td>{$data.env_name}</td>
													<td>{$data.env_desc}</td>
													<td>{$data.create_time}</td>
													
													<td>
														
								
														<a title="编辑环境" data-rel="tooltip" class="btn btn-info" href="{:U('Admin/Env/editEnv',array('env_id' => $data['env_id']))}">
															<i class="fa fa-edit "></i>                                            
														</a>
														<a title="删除环境" data-rel="tooltip" class="btn btn-danger" href="{:U('Admin/Env/delEnv',array('env_id' => $data['env_id']))}" onclick="if(confirm('删除环境将删除该环境下所有主机，确认删除？') == false) return false;">
															<i class="fa fa-trash-o "></i> 

														</a>
													</td>
												</tr>
												</volist>
											</tbody>
										</form>
										</table>
									</div>

									<div class="btn-toolbar" role="toolbar">
										{$page}
									</div>
								</div>
								
							</div>
						</div>					
					</div>
				<!-- End Main Page -->	
		
		<include file="Application/Admin/View/Public/tpl/usage.html" />
		
		
		<!-- Modal Dialog -->
		<!-- <div class="modal fade" id="myModal">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title bk-fg-primary">Modal title</h4>
					</div>
					<div class="modal-body">
						<p class="bk-fg-danger">Here settings can be configured...</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary">Save changes</button>
					</div>
				</div>
			</div>
		</div><!-- End Modal Dialog --> -->

		<!-- Finish Button -->
		<!-- <div class="modal fade" id="finish-button">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title bk-fg-primary text-center">You successfully submit this form.</h4>
					</div>
				</div>
			</div>
		</div><!-- End Finish Button -->	 -->
		
		<div class="clearfix"></div>		
		
		
		<include file="Application/Admin/View/Public/tpl/js.html" />

		<script type="text/javascript">
			$(document).ready(function(){

				$("#delEnvs").click(function(){
					if(confirm('删除环境将删除该环境下所有主机，确认删除？')) {
						document.getElementById("delEnvsForm").submit();
					}
				});

			});

		</script>
		
	</body>
	
</html>