		
		<!-- start: JavaScript-->
		
		<!-- Vendor JS-->				
		<script src="__PUBLIC__/assets/vendor/js/jquery.min.js"></script>
		<script src="__PUBLIC__/assets/vendor/js/jquery-2.1.1.min.js"></script>
		<script src="__PUBLIC__/assets/vendor/js/jquery-migrate-1.2.1.min.js"></script>
		<script src="__PUBLIC__/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
		<script src="__PUBLIC__/assets/vendor/skycons/js/skycons.js"></script>		
		
		<!-- Plugins JS-->
		<script src="__PUBLIC__/assets/plugins/jquery-ui/js/jquery-ui-1.10.4.min.js"></script>
		<script src="__PUBLIC__/assets/plugins/jquery-form/js/jquery.form.js"></script>
		<script src="__PUBLIC__/assets/plugins/moment/js/moment.min.js"></script>	
		<script src="__PUBLIC__/assets/plugins/fullcalendar/js/fullcalendar.min.js"></script>
		<script src="__PUBLIC__/assets/plugins/chosen/js/chosen.jquery.min.js"></script>
		<script src="__PUBLIC__/assets/plugins/autosize/jquery.autosize.min.js"></script>
		<script src="__PUBLIC__/assets/plugins/placeholder/js/jquery.placeholder.min.js"></script>
		<script src="__PUBLIC__/assets/plugins/wizard/js/jquery.bootstrap.wizard.min.js"></script>
		<script src="__PUBLIC__/assets/plugins/maskedinput/js/jquery.maskedinput.js"></script>
		
		<!-- Theme JS -->		
		<script src="__PUBLIC__/assets/js/jquery.mmenu.min.js"></script>
		<script src="__PUBLIC__/assets/js/core.min.js"></script>
		
		<!-- Pages JS -->
		<script src="__PUBLIC__/assets/js/pages/form-wizard.js"></script>
		
		<!-- end: JavaScript-->
		