<!DOCTYPE html>
<html lang="en">

	<include file="Application/Admin/View/Public/tpl/header.html" />
	
	<body>

				<include file="Application/Admin/View/Public/tpl/navbar.html" />
				<include file="Application/Admin/View/Public/tpl/sidebar.html" />
				<include file="Application/Admin/View/Public/tpl/pageheader.html" />
					
					
					<div class="row">	
					<div class="col-md-3">
					</div>	
						<div class="col-md-6">
							<div class="panel">
								<div class="panel-heading bk-bg-primary">
									<h6><i class="fa fa-indent red"></i>添加服务</h6>							
								</div>
								<div class="panel-body">
									<form action="{:U('Admin/Service/addService')}" method="post" enctype="multipart/form-data" class="form-horizontal ">
									
										
										<div class="form-group">
											<label class="col-md-3 control-label" for="service_name">服务名</label>
											<div class="col-md-6">
												<input type="text" id="service_name" name="service_name" class="form-control" placeholder="服务名">
												<span class="help-block">请输入服务名</span>
											</div>
										</div>

										<div class="form-group">
											<label class="col-md-3 control-label" for="service_version">服务版本号</label>
											<div class="col-md-6">
												<input type="text" id="service_version" name="service_version" class="form-control" placeholder="服务版本号">
												<span class="help-block">请输入服务版本号</span>
											</div>
										</div>

										<div class="form-group">
											<label class="col-md-3 control-label" for="service_home">服务安装目录</label>
											<div class="col-md-6">
												<input type="text" id="service_home" name="service_home" class="form-control" placeholder="服务安装目录">
												<span class="help-block">请输入服务安装目录</span>
											</div>
										</div>
										
										<div class="form-group">
											<label class="col-md-3 control-label" for="service_conf">服务配置文件</label>
											<div class="col-md-6">
												<input type="text" id="service_conf" name="service_conf" class="form-control" placeholder="服务配置文件">
												<span class="help-block">请输入服务配置文件</span>
											</div>
										</div>

										<div class="form-group">
											<label class="col-md-3 control-label" for="service_log">服务日志文件</label>
											<div class="col-md-6">
												<input type="text" id="service_log" name="service_log" class="form-control" placeholder="服务日志文件">
												<span class="help-block">请输入服务日志文件</span>
											</div>
										</div>
										
										<div class="form-group">
											<label class="col-md-3 control-label" for="service_port">服务端口</label>
											<div class="col-md-6">
												<input type="text" id="service_port" name="service_port" class="form-control" placeholder="8080">
												<span class="help-block">请输入服务端口</span>
											</div>
										</div>

										<div id="status" class="form-group">
											<label class="col-md-3 control-label">服务状态</label>
											<div class="col-md-9">
												<div class="radio-custom radio-inline">
													<input type="radio" id="status_radio1" name="status" value="1" checked="checked"> 
													<label for="status_radio1"> 开启</label>
												</div>
												<div class="radio-custom radio-inline">
													<input type="radio" id="status_radio2" name="status" value="0"> 
													<label for="status_radio2"> 关闭</label>
												</div>
												
											</div>
										</div>
										
										<div class="form-group">
											<label class="col-md-3 control-label" for="service_desc">服务描述</label>
											<div class="col-md-6">
												<textarea id="service_desc" name="service_desc"  class="form-control" placeholder="服务描述"></textarea>
												<span class="help-block">请输入服务描述</span>
											</div>
										</div>

										<div class="form-group">
											<div class="col-md-4">
											</div>
											<div class="col-md-4">

											<!-- 	<input type="hidden" id="pid" name="pid" class="form-control" value='{$pid}'>
												<input type="hidden" id="level" name="level" class="form-control" value='{$level}'> -->
											
												<button type="submit" class="btn btn-success">添加服务</button>
												</div>
											<div class="col-md-4">
											</div>
										</div>
										
										<br>
									</form>
								</div>	
							</div>	
						</div>	
						<div class="col-md-3">
					</div>				
					</div>
				<!-- End Main Page -->	
		
		<include file="Application/Admin/View/Public/tpl/usage.html" />
		
		
		<!-- Modal Dialog -->
		<!-- <div class="modal fade" id="myModal">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title bk-fg-primary">Modal title</h4>
					</div>
					<div class="modal-body">
						<p class="bk-fg-danger">Here settings can be configured...</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary">Save changes</button>
					</div>
				</div>
			</div>
		</div><!-- End Modal Dialog --> -->

		<!-- Finish Button -->
		<!-- <div class="modal fade" id="finish-button">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title bk-fg-primary text-center">You successfully submit this form.</h4>
					</div>
				</div>
			</div>
		</div><!-- End Finish Button -->	 -->
		
		<div class="clearfix"></div>		
		
		
		<include file="Application/Admin/View/Public/tpl/js.html" />

		<script type="text/javascript">
			// $(document).ready(function(){

			// 	$('.add-role').click(function(){
			// 		var obj = $(this).parents('#role_div').clone();
			// 		obj.find('.add-role').remove();
			// 		obj.find('#role_divm3').append("<button type='button' class='btn-close'><i class='fa fa-times'></i></button>");
			// 		$('#status').before(obj);
			// 	});

			// 	$('.btn-close').live('click',function(){
					
			// 		$(this).parents('#role_div').remove();
			// 	});

			// });

		</script>
		
	</body>
	
</html>