<!DOCTYPE html>
<html lang="en">

	<include file="Application/Admin/View/Public/tpl/header.html" />
	
	<body>

				<include file="Application/Admin/View/Public/tpl/navbar.html" />
				<include file="Application/Admin/View/Public/tpl/sidebar.html" />
				<include file="Application/Admin/View/Public/tpl/pageheader.html" />
					
					
					<div class="row">	
					<div class="col-md-3">
					</div>	
						<div class="col-md-6">
							<div class="panel">
								<div class="panel-heading bk-bg-primary">
									<h6><i class="fa fa-indent red"></i>用户设置</h6>							
								</div>
								<div class="panel-body">
									<form action="{:U('Admin/User/editUser')}" method="post" enctype="multipart/form-data" class="form-horizontal ">
									
										
										<div class="form-group">
											<label class="col-md-3 control-label" for="login_name">登录名</label>
											<div class="col-md-6">
												<input type="text" id="login_name" name="login_name" class="form-control" placeholder="登录名" value="{$user.login_name}" disabled>
												<span class="help-block">登录名不能修改</span>
											</div>
										</div>
										<div class="form-group">
											<label class="col-md-3 control-label" for="name">用户别名</label>
											<div class="col-md-6">
												<input type="text" id="name" name="name" class="form-control" placeholder="用户别名" value="{$user.name}">
												<span class="help-block">请输入用户别名</span>
											</div>
										</div>
										<div class="form-group">
											<label class="col-md-3 control-label" for="password">登录密码</label>
											<div class="col-md-6">
												<input type="password" id="password" name="password" class="form-control" placeholder="******">
												<span class="help-block">请输入密码,留空表示不修改</span>
											</div>
										</div>
										<div class="form-group">
											<label class="col-md-3 control-label" for="repassword">确认密码</label>
											<div class="col-md-6">
												<input type="password" id="repassword" name="repassword" class="form-control" placeholder="******">
												<span class="help-block">请输入确认密码</span>
											</div>
										</div>
										<div class="form-group">
											<label class="col-md-3 control-label" for="email">email</label>
											<div class="col-md-6">
												<input type="text" id="email" name="email" class="form-control" placeholder="zhangsan@xianglin.cn" value="{$user.email}">
												<span class="help-block">请输入email</span>
											</div>
										</div>

										<div class="form-group">
											<label class="col-md-3 control-label" for="mobile">联系手机</label>
											<div class="col-md-6">
												<input type="text" id="mobile" name="mobile" class="form-control" placeholder="13902134563" value="{$user.mobile}">
												<span class="help-block">请输入联系手机</span>
											</div>
										</div>

										<div class="form-group">
											<label class="col-md-3 control-label">性别</label>
											<div class="col-md-9">
												<div class="radio-custom radio-inline">
													<input type="radio" id="gender-radio1" name="gender" value="0" {$user['gender'] == 0? 'checked' : "" }> 
													<label for="gender-radio1"> 未知</label>
												</div>
												<div class="radio-custom radio-inline">
													<input type="radio" id="gender-radio2" name="gender" value="1" {$user['gender'] == 1? 'checked' : "" }> 
													<label for="gender-radio2"> 男</label>
												</div>
												<div class="radio-custom radio-inline">
													<input type="radio" id="gender-radio3" name="gender" value="2" {$user['gender'] == 2? 'checked' : "" }> 
													<label for="gender-radio3"> 女</label>
												</div>
											</div>
										</div>

										<div class="form-group">
											<label class="col-md-3 control-label" for="project">所属项目</label>
											<div class="col-md-6">
												<select id="project_id" name="project_id" class="form-control" size="1">
													<option value="0">请选择所属项目</option>
													<volist name="project" id="data">
														<option value="{$data.project_id}" {$user['project_id'] == $data['project_id']? 'selected' : "" }>{$data.project_name}</option>
													</volist>
												</select>
											</div>
										</div>

										<div class="form-group">
											<label class="col-md-3 control-label" for="system">所属系统</label>
											<div class="col-md-6">
												<select id="system_id" name="system_id" class="form-control" size="1">
													<option value="0">请选择所属系统</option>
													<volist name="system" id="data">
														<option value="{$data.system_id}" {$user['system_id'] == $data['system_id']? 'selected' : "" }>{$data.system_name}</option>
													</volist>
												</select>
											</div>
										</div>
										<if condition="!empty($user_role)">
											<volist name='user_role' id='u_r' key='k'>
												<div id="role_div" class="form-group">
													<label class="col-md-3 control-label" for="role">所属角色</label>
													<div class="col-md-6">
														<select id="role" name="role_id[]" class="form-control" size="1">
															<option value="0">请选择角色</option>
															<volist name="role" id="data">
																<option value="{$data.id}" {$u_r['role_id'] == $data['id'] ? 'selected' : ""}>{$data.name}({$data.remark})</option>
															</volist>
														</select>
													</div>
													<div id="role_divm3" class="col-md-3">
														<if condition="$k eq 1">
																
																<button type="button" class="btn btn-success add-role">添加一个角色</button>
																
														<else />
																
															
																<button type='button' class="btn-close2"><i class='fa fa-times'></i></button>
															
														</if>
													</div>
													
												</div>
											</volist>
										<else />
											<div id="role_div" class="form-group">
													<label class="col-md-3 control-label" for="role">所属角色</label>
													<div class="col-md-6">
														<select id="role" name="role_id[]" class="form-control" size="1">
															<option value="0">请选择角色</option>
															<volist name="role" id="data">
																<option value="{$data.id}" {$u_r['role_id'] == $data['id'] ? 'selected' : ""}>{$data.name}({$data.remark})</option>
															</volist>
														</select>
													</div>
													<div id="role_divm3" class="col-md-3">
														
																
																<button type="button" class="btn btn-success add-role">添加一个角色</button>
																
															
														
													</div>
													
												</div>
										</if>

										
										<div id="status" class="form-group">
											<label class="col-md-3 control-label">开启状态</label>
											<div class="col-md-9">
												<div class="radio-custom radio-inline">
													<input type="radio" id="status_radio1" name="status" value="1" {$user['status'] == 1? 'checked' : ""}> 
													<label for="status_radio1"> 开启</label>
												</div>
												<div class="radio-custom radio-inline">
													<input type="radio" id="status_radio2" name="status" value="0" {$user['status'] == 0? 'checked' : ""}> 
													<label for="status_radio2"> 关闭</label>
												</div>
												
											</div>
										</div>
										<div class="form-group">
											<label class="col-md-3 control-label" for="user_desc">用户描述</label>
											<div class="col-md-6">
												<textarea id="user_desc" name="user_desc"  class="form-control" placeholder="用户描述">{$user.user_desc}</textarea>
												<span class="help-block">请输入用户描述</span>
											</div>
										</div>

										<div class="form-group">
											<div class="col-md-4">
											</div>
											<div class="col-md-4">

											<input type="hidden" id="user_id" name="user_id" class="form-control" value='{$user.user_id}'>
												<input type="hidden" id="login_name" name="login_name" class="form-control" value='{$user.login_name}'>
											
												<button type="submit" class="btn btn-success">保存修改</button>
												</div>
											<div class="col-md-4">
											</div>
										</div>
										
										<br>
									</form>
								</div>	
							</div>	
						</div>	
						<div class="col-md-3">
					</div>				
					</div>
				<!-- End Main Page -->	
		
		<include file="Application/Admin/View/Public/tpl/usage.html" />
		
		
		<!-- Modal Dialog -->
		<!-- <div class="modal fade" id="myModal">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title bk-fg-primary">Modal title</h4>
					</div>
					<div class="modal-body">
						<p class="bk-fg-danger">Here settings can be configured...</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary">Save changes</button>
					</div>
				</div>
			</div>
		</div><!-- End Modal Dialog --> -->

		<!-- Finish Button -->
		<!-- <div class="modal fade" id="finish-button">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title bk-fg-primary text-center">You successfully submit this form.</h4>
					</div>
				</div>
			</div>
		</div><!-- End Finish Button -->	 -->
		
		<div class="clearfix"></div>		
		
		
		<include file="Application/Admin/View/Public/tpl/js.html" />

		<script type="text/javascript">
			$(document).ready(function(){

				$('.add-role').click(function(){
					var obj = $(this).parents('#role_div').clone();
					obj.find('.add-role').remove();
					obj.find('#role_divm3').append("<button type='button' class='btn-close'><i class='fa fa-times'></i></button>");
					$('#status').before(obj);
				});

				$('.btn-close').live('click',function(){
					
					$(this).parents('#role_div').remove();
				});

				$('.btn-close2').click(function(){
					
					$(this).parents('#role_div').remove();
				});

			});

		</script>
		
	</body>
	
</html>